@font-face {
	font-family: 'ReformaGroteskLightC';
	src: url('../fonts/ReformaGroteskLightC.eot');
	src: local('ReformaGroteskLightC'),
		url('../fonts/ReformaGroteskLightC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ReformaGroteskLightC.woff') format('woff'),
		url('../fonts/ReformaGroteskLightC.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'ReformaGroteskMediumC';
	src: url('../fonts/ReformaGroteskMediumC.eot');
	src: local('ReformaGroteskMediumC'),
		url('../fonts/ReformaGroteskMediumC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ReformaGroteskMediumC.woff') format('woff'),
		url('../fonts/ReformaGroteskMediumC.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'ReformaGroteskDemiC';
	src: url('../fonts/ReformaGroteskDemiC.eot');
	src: local('ReformaGroteskDemiC'),
		url('../fonts/ReformaGroteskDemiC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ReformaGroteskDemiC.woff') format('woff'),
		url('../fonts/ReformaGroteskDemiC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ReformaGroteskBoldC';
	src: url('../fonts/ReformaGroteskBoldC.eot');
	src: local('ReformaGroteskBoldC'),
		url('../fonts/ReformaGroteskBoldC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ReformaGroteskBoldC.woff') format('woff'),
		url('../fonts/ReformaGroteskBoldC.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

body, html {
    background-color: #141414;
    font-family: "ReformaGroteskMediumC";
}
.rhomb-position {
    margin-right: 30px;
}
.arrow-right {
    background-image: url("../img/icons/arrow_right.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.arrow-left {
    background-image: url("../img/icons/arrow_left.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

/* Section-first styles start */
.section-first {
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.8) 78.8%, #141414 100%), url(../img/background.jpeg);
    background-size: cover;
    text-align: center;
    justify-content: center;
}

/* Header styles start */
.header{
    width: 80%;
    margin: auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.header__list{
    margin: 0;
}
.header__item{
    display: inline-block;
    margin-right: 40px;
}
.header__link{
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: none;
}
/* Header styles end */

/* Intro styles start */
.intro {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.intro__title{
    font-family: 'ReformaGroteskBoldC';
    font-weight: 700;
    font-size: 150px;
    line-height: 125%;
    color: #DB3138;
}
.intro__rhombs {
    margin-bottom: 40px;
}
.intro__subtitle{
    max-width: 440px;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.intro__button {
    padding: 15px;
    font-family: "ReformaGroteskDemiC";
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #DB3138;
    border: none;
}
/* Intro styles end */

/* Info styles start */
.info {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.info__block {
    margin-top: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    font-family: "ReformaGroteskDemiC";
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    width: 33.33%;
}
.info__block-bordered {
    border-right: solid 1px rgba(255, 255, 255, 0.5);
    border-left: solid 1px rgba(255, 255, 255, 0.5);
}
.info__block-title {
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
}
.info__block-text {
    font-size: 24px;
    line-height: 140%;
    color: #DB3138;
    max-width: 300px;
}
/* Info styles end */

/* Section-first styles end */


/* Section-achievement styles start */
.section-achievement {
    justify-content: center;
    padding-top: 180px;
    display: flex;
    font-family: "ReformaGroteskDemiC";
    color: #FFFFFF;
}
.achievement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Description styles start */
.achievement__description {
}
.achievement__description-title {
    font-weight: 600;
    font-size: 52px;
    line-height: 73px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    max-width: 640px;
}
.achievement__description-rhombs {
    margin-bottom: 60px;
    margin-top: 40px;
}
.achievement__description-subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
    max-width: 530px;
}
/* Description styles end */

/* Block styles start */
.achievement__leftblocks {}
.achievement__rightblocks {
    margin-top: 40px;
}
.achievement__block {
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 25px 20px 35px;
    text-align: center;
    border: solid 1px rgba(255, 255, 255, 0.5);
}
.achievement__number {
    color: #DB3138;
    font-size: 52px;
    line-height: 73px;
}
.achievement__number span {
    font-size: 24px;
    line-height: 34px;
}
.achievement__number-text {
    font-size: 16px;
    line-height: 22px;
    max-width: 300px;
}
.achievement__image {
    margin-bottom: 27px;
}
/* Block styles end */


/* Slider styles start */
.section-slider {
    padding-top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.slider-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__slide {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
}
.slide__text-block {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    width: 80%;
    font-family: "ReformaGroteskDemiC";
    color: #FFFFFF;
    background-color: #DB3138;
}
.slide__text-block p {
    padding: 10px 5px;
    width: 70%;
}
.slider__slide img {
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}
/* Slider styles end */

/* Section-achievement styles end */


/* Section-advantages styles start */
.section-advantages {
    justify-content: center;
    padding-top: 180px;
    display: flex;
    font-family: "ReformaGroteskDemiC";
    color: #FFFFFF;
}
/* advantages styles start */
.advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.advantages__block {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 530px;
}
.advantages__block-text {
}
.advantages__block-text .title {
    display: flex;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-bottom: 30px;
    align-items: center;
}
.advantages__block-text .title h3 {
    margin-left: 30px;
}
.advantages__block-text .text {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.03em;
}
.advantages__block-rhombs {
    margin: 40px 0;
}
/* advantages styles end */

/* slider styles start */
.advantages__slider {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.advantages__slider-slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.slide__box {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}
.slide__box-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    max-width: 430px;
}
/* Slider styles end */

/* Section-advantages styles end */
